<a href="/">Back to contacts</a>
<ul class="list-group">
  <li class="list-group-item">
    <strong>First Name:</strong> <%= @contact.first_name %>
  </li>
  <li class="list-group-item">
    <strong>Last Name:</strong> <%= @contact.last_name %>
  </li>
  <li class="list-group-item">
    <strong>Job Title:</strong> <%= @contact.job_title %>
  </li>
  <li class="list-group-item">
    <strong>Company:</strong> <%= @contact.company %>
  </li>
  <li class="list-group-item">
    <strong>Contact Type:</strong> <%= @contact.contact_type %>
  </li>
</ul>
